<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div formGroupName="profile">
    <div class="ah-form-group">
      <label for="username">Benutzername</label>
      <input type="text" formControlName="username" id="username" [class.submitted]="submitted"/>
    </div>
    <div class="ah-form-group">
      <label for="memberId">KVK Mitgliedsnummer</label>
      <input type="text" formControlName="memberId" id="memberId"/>
    </div>
    <div class="ah-form-group">
      <label for="firstName">Vorname</label>
      <input type="text" formControlName="firstName" id="firstName" [class.submitted]="submitted"/>
    </div>
    <div class="ah-form-group">
      <label for="lastName">Nachname</label>
      <input type="text" formControlName="lastName" id="lastName" [class.submitted]="submitted"/>
    </div>
    <div class="ah-form-group">
      <label for="email">eMail Adresse</label>
      <input type="email" formControlName="email" id="email" [class.submitted]="submitted"/>
    </div>
  </div>
  <div *ngIf="showPasswordGroup === true" formGroupName="password">
    <div class="ah-form-group">
      <label for="newPassword">Passwort</label>
      <input type="password" formControlName="newPassword" id="newPassword" [class.submitted]="submitted"/>
    </div>
    <div class="ah-form-group">
      <label for="repeat">Passwort wiederholen</label>
      <input type="password" formControlName="repeat" id="repeat" [class.submitted]="submitted"/>
    </div>
  </div>
  <div *ngIf="showPermissionsGroup === true" formGroupName="permissions">
    <div class="ah-form-group">
      <label for="role">Benutzerrolle</label>
      <select formControlName="role" id="role">
        <option value="{{userRole.User}}">Anwender</option>
        <option value="{{userRole.Admin}}">Administrator</option>
        <option value="{{userRole.Assessor}}">AD-Auswerter</option>
        <option value="{{userRole.Typist}}">AD-Erfasser</option>
      </select>
    </div>
    <div class="ah-form-group row">
      <div class="ah-form-group row">
        <input type="checkbox" formControlName="enabled" id="enabled">
        <label for="enabled">Benutzer aktiv</label>
      </div>
      <div class="ah-form-group row">
        <input type="checkbox" formControlName="memberIdApproved" id="memberIdApproved">
        <label for="memberIdApproved">Mitgliedsnummer bestätigt</label>
      </div>
    </div>
  </div>
  <div class="ah-form-group row reverse">
    <button class="ah-btn">Absenden</button>
    <a routerLink="../" class="ah-btn">Zurück</a>
  </div>
</form>
