.ad-modal-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 900;
  display: none;
  justify-content: center;
  align-content: center;

  &.show{
    display: grid;
  }

  &.backdrop {
    background: rgba(0,0,0,0.5);
  }

  .ad-modal {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 5px;
    margin: 1em;
  }
}
