<div class="ad-dialog">
  <h4>{{title}}</h4>
  <div class="ad-dialog-message">{{message}}</div>
  <div class="ad-dialog-buttons">
    <button class="ah-btn danger" (click)="onClick('confirm')">{{confirm}}</button>
    <button *ngIf="cancel" class="ah-btn secondary" (click)="onClick('cancel')">{{cancel}}</button>
  </div>
</div>
