:host{
  border-radius: inherit;
}

.ad-dialog {
  border-radius: inherit;
  background-color: white;
  max-width: 30em;

  h4 {
    margin: 0;
    padding: 1em;
  }

  .ad-dialog-message {
    margin: 1em 0;
    padding: 1em;
    line-height: 1.5;
    font-size: large;
  }

  .ad-dialog-buttons {
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    .ah-btn ~ .ah-btn {
      margin-right: .5em;
    }
  }
}
