<div class="ah-page-wrap">
  <nav class="ah-top-nav">
    <app-modal></app-modal>
    <ul>
      <li routerLink="/home"><img src="../assets/images/kvk.png"></li>
      <li *ngIf="loggedIn && role === ROLE.Admin" routerLink="/user/">User</li>
      <li *ngIf="loggedIn && (role === ROLE.Admin || role === ROLE.Assessor)" routerLink="/member/">Mitglieder</li>
      <li *ngIf="loggedIn && (role === ROLE.Admin || role === ROLE.Typist)" routerLink="/labour/">Arbeitsdienste</li>
      <li *ngIf="loggedIn && (role === ROLE.Admin || role === ROLE.Assessor)" routerLink="/labour/download">AD Download</li>
      <!-- Credit: Entypo pictograms by Daniel Bruce — www.entypo.com -->
      <li *ngIf="loggedIn" class="right pict" (click)="logout()"><img src="../assets/icons/log-out.svg"></li>
      <li *ngIf="loggedIn" class="right pict" routerLink="/settings/changePassword"><img
        src="../assets/icons/entypo-cog.svg"></li>
      <li *ngIf="loggedIn && username" class="right no-pointer">{{username}}</li>
    </ul>
  </nav>
  <div class="ah-content">
    <router-outlet></router-outlet>
  </div>
</div>
