@import "../colors";

.ah-page-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ah-content{
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.ah-top-nav {
  flex-shrink: 0;
  flex-grow: 0;
  background: $c-topnav-background;
  height: 3em;
  border-bottom: 2px solid $c-kvk-blue;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      float: left;
      height: 100%;
      display: grid;
      align-items: center;
      padding: 0px 5px;
      cursor: pointer;
      font-size: small;
    }

    .no-pointer {
      cursor: default;
    }

    .right {
      float: right;
    }

    img {
      width: auto;
      height: 30px;
    }

    .pict {
      img {
        width: auto;
        height: 20px;
      }
    }
  }
}
