<div class="ah-card">
  <h4>Passwort ändern</h4>
  <div *ngIf="notifyError" class="notification fail">
    Fehler: {{errorMessage}}
  </div>
  <div *ngIf="notifySuccess" class="notification success">
    Das Passwort wurde geändert!
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="ah-form-group">
      <label for="oldPassword">Altes Passwort</label>
      <input type="password" formControlName="oldPassword" id="oldPassword" [class.submitted]="submitted"/>
      <div *ngIf="submitted && form.controls.oldPassword.errors" class="invalid-feedback">
        <div *ngIf="form.controls.oldPassword.errors.required">Bitte Passwort eingeben</div>
      </div>
    </div>
    <div class="ah-form-group">
      <label for="newPassword">Passwort</label>
      <input type="password" id="newPassword" formControlName="newPassword" [class.submitted]="submitted" />
      <div *ngIf="submitted && form.controls.newPassword.errors" class="invalid-feedback">
        <div *ngIf="form.controls.newPassword.errors.required">Bitte Passwort eingeben</div>
        <div *ngIf="form.controls.newPassword.errors.minlength">Das Passwort muss mindestens {{minLength}} Zeichen lang sein</div>
      </div>
    </div>
    <div class="ah-form-group">
      <label for="repeatPassword">Passwort wiederholen</label>
      <input type="password" id="repeatPassword" formControlName="repeatPassword" [class.submitted]="submitted" />
      <div *ngIf="submitted && form.controls.repeatPassword.errors" class="invalid-feedback">
        <div *ngIf="form.controls.repeatPassword.errors.mustMatch">Die Passwörter stimmen nicht überein</div>
      </div>
    </div>
    <div class="ah-form-group row reverse">
      <button [disabled]="loading" class="ah-btn">Absenden</button>
      <a routerLink="/home" class="ah-btn">Zurück</a>
    </div>
  </form>
</div>
