<div class="ah-card">
  <h4>AD Download</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="ah-form-group">
      <label for="fromDate">ab Datum</label>
      <input type="date" formControlName="fromDate" id="fromDate">
    </div>
    <div class="ah-form-group">
      <label for="fromDate">bis Datum</label>
      <input type="date" formControlName="toDate" id="toDate">
    </div>
    <div class="ah-form-group row reverse">
      <button class="ah-btn">Runterladen</button>
    </div>
  </form>
</div>
