<div class="ah-card">
  <h4>Benutzer anlegen</h4>
  <div *ngIf="notifyError" class="notification fail">
    Fehler: {{errorMessage}}
  </div>
  <div *ngIf="notifySuccess" class="notification success">
    Der Benutzer wurde angelegt
  </div>
  <app-user-form *ngIf="notifySuccess === false"
                 (submitEvent)="submit($event)"
                 [showPasswordGroup]="true"
                 [showPermissionsGroup]="true">
  </app-user-form>
</div>
