<div class="ah-card">
  <h4>Mitgliederliste importieren</h4>
  <div *ngIf="notifyError" class="notification fail">
    {{errorMessage}}
  </div>
  <div *ngIf="notifySuccess" class="notification success">
    {{successMessage}}
  </div>
  <div class="content">
    <label for="file" class="ah-btn secondary">
      Datei wählen
    </label>
    <input
      type="file"
      id="file"
      accept="text/csv"
      (change)="onFileChange($event)"
    >
    <div id="upload-table">
      <span>Datei</span>
      <span>Letzte Änderung</span>
      <span *ngIf="file !== undefined">{{file?.name}}</span>
      <span *ngIf="file !== undefined">{{file?.lastModified | date: 'medium'}}</span>
      <span *ngIf="file === undefined">--</span>
      <span *ngIf="file === undefined">--</span>
    </div>
  </div>
  <div class="ah-card-buttons">
    <button [disabled]="file === undefined" class="ah-btn" (click)="submit()">Absenden</button>
    <button class="ah-btn secondary" (click)="close()">Schließen</button>
  </div>
</div>
