@import "../../../../colors";

:host {
  display: flex;
  justify-content: center;
}

div.ah-card {
  margin: 0;
}

input {
  visibility: hidden;
  margin: .5em 0;
}

#upload-table {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  span {
    padding: .5em;
    border-bottom: 1px solid $c-grey-light;
  }
}
