<div class="ah-card">
  <h4>Teilnehmer hinzufügen</h4>
  <div *ngIf="notifyError" class="notification fail">
    {{errorMessage}}
  </div>
  <div *ngIf="notifyInfo" class="notification info">
    {{infoMessage}}
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="ah-form-group">
      <label for="date">Datum</label>
      <input type="date" formControlName="date" id="date" [class.submitted]="submitted"/>
    </div>
    <div class="ah-form-group">
      <label for="member">Mitglied</label>
      <input list="SearchResults" formControlName="member" id="member" [class.submitted]="submitted" (keyup)="keyup($event)" (select)="onSelect()" (blur)="onSelect()"/>
      <datalist id="SearchResults">
        <option *ngFor="let fm of members">{{fm.memberId}}: {{fm.lastName}}, {{fm.firstName}}</option>
      </datalist>
      <div *ngIf="submitted && form.controls.member.errors" class="invalid-feedback">
        <div *ngIf="form.controls.member.errors.required">Bitte ein Mitglied auswählen</div>
        <div *ngIf="form.controls.member.errors.conflict">Ein Mitglied kann nur einmal pro Tag erfasst werden</div>
      </div>
    </div>
    <div class="ah-form-group">
      <label for="hours">Stunden</label>
      <input type="number" formControlName="hours" id="hours" [class.submitted]="submitted"/>
      <div *ngIf="submitted && form.controls.hours.errors" class="invalid-feedback">
        <div *ngIf="form.controls.hours.errors.required">Bitte die Anzahl der Stunden eingeben</div>
        <div *ngIf="form.controls.hours.errors.min">Bitte eine Zahl größer als 0 eingeben</div>
        <div *ngIf="form.controls.hours.errors.max">Maximal 10 Stunden erlaubt</div>
      </div>
    </div>
    <div class="ah-form-group row reverse">
      <button class="ah-btn">Speichern</button>
      <button class="ah-btn secondary" (click)="close(false)">Schließen</button>
    </div>
  </form>
</div>
