<div><img class="iconbar" routerLink="/user/create" src="../../../../assets/icons/entypo-add-user.svg"></div>
<div class="ah-table-wrapper">
  <div class="table-header">
    <div class="ah-table-cell flex-basis-5">
      <p>ID</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>Name</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>VorName</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>NachName</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>email</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>Rolle</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>Status</p>
    </div>
    <div class="ah-table-cell flex-basis-5">
    </div>
  </div>
  <div class="ah-table-body">
    <div *ngFor="let user of users" class="ah-table-row">
      <div class="ah-table-cell flex-basis-5">
        <p>{{user.id}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{user.username}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{user.firstName}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{user.lastName}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{user.email}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{user.role}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{user.enabled}}</p>
      </div>
      <div class="ah-table-cell flex-basis-5">
        <img [routerLink]="['/user/', user.id, 'edit']" src="../../../../assets/icons/entypo-edit.svg">
        <img (click)="onDelete(user)" src="../../../../assets/icons/entypo-remove-user.svg">
      </div>
    </div>
  </div>
</div>
