<div class="ah-card">
  <h4>Login</h4>
  <div *ngIf="notifyError" class="notification fail">
    {{notification}}
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
  <div class="ah-form-group">
    <label for="username">Benutzername</label>
    <input type="text" formControlName="username" id="username" [class.submitted]="submitted"/>
    <div *ngIf="submitted && form.controls.username.errors" class="invalid-feedback">
      <div *ngIf="form.controls.username.errors.required">Bitte Benutzernamen eingeben</div>
    </div>
  </div>
  <div class="ah-form-group">
    <label for="password">Passwort</label>
    <input type="password" id="password" formControlName="password" [class.submitted]="submitted"/>
    <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
      <div *ngIf="form.controls.password.errors.required">Bitte Passwort eingeben</div>
    </div>
  </div>
  <div class="ah-form-group row reverse">
    <button [disabled]="loading" class="ah-btn">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>
</div>
