$c-kvk-red: #ce171b;
$c-kvk-blue: #342b86;

$c-blue: #0047b3;
$c-red: #B51417;
$c-petrol: #2b7887;

$c-grey-light: #f1f1f1;
$c-grey-medium: #cccccc;
$c-grey-dark: #808080;

$c-topnav-background: $c-grey-light;
$c-body-background: $c-grey-medium;

$c-primary: $c-blue;
$c-secondary: $c-blue;
$c-danger: $c-kvk-red;
