@import "colors";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $c-body-background;
}

.ah-form-group {
  display: flex;
  flex-direction: column;
  margin: 1em;

  * ~ * {
    margin-top: 0.5em;
  }

  &.row {
    flex-direction: row;

    * ~ * {
      margin-top: auto;
      margin-left: 0.5em;
    }

    &.reverse {
      flex-direction: row-reverse;
      * ~ * {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
}


.ah-form-group ~ .ah-form-group {
    margin-top: 1em;
}

.ah-btn {
  border: 1px solid $c-primary;
  padding: 0.5em 1em;
  max-width: max-content;
  background: $c-primary;
  font-size: medium;
  color: white;
  border-radius: 5px;

  &.secondary {
    color: $c-primary;
    background: white;
  }

  &.danger {
    border: 1px solid $c-kvk-red;
    background: $c-kvk-red;
  }
}

.ah-btn:active {
  transform: scale(0.95);
}

.ah-btn:disabled {
  opacity: 0.25;
}


.ah-btn ~ ad-btn {
  margin-left: .5em;
}

a.ah-btn {
  background: none;
  color: $c-primary;
  text-decoration: none;
  border: none;
}

input {
  background: none;
  border-radius: 5px;
  border: 1px solid #808080;
  font-size: smaller;
  padding: 5px 10px;
}

select ~ label {
  margin: auto;
}

select {
  font-size: smaller;
  padding: 5px 10px;
}

.ng-invalid:not(form)  {
  &.submitted {
    border: solid 2px $c-kvk-red;
  }
}

.invalid-feedback {
  font-size: smaller;
  color:  $c-kvk-red;
  padding: 5px 10px;
}

div.ah-card {
  margin: 3em;
  max-width: 500px;
  border: 1px solid $c-grey-light;
  border-radius: 5px;
  flex-grow: 1;
  background: white;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);

  h4 {
    background: $c-grey-light;
    margin: 0;
    padding: 1em;
    border-radius: 5px 5px 0px 0px;
  }

  .notification {
    margin: 1em;
    padding: 10px;
    border-radius: 5px;

    &.fail {
      background: rgba(255, 0, 0, 0.2);
      color: #8b0000;
    }

    &.info {
      background: rgba(0, 71, 179, 0.24);
      color: #0047b3;
    }

    &.success {
      background: rgba(0, 255, 0, 0.2);
      color: #008b00;
    }
  }

  .content {
    padding: 1em;
  }

  .ah-card-buttons {
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    .ah-btn ~ .ah-btn {
      margin-right: .5em;
    }
  }
}

.ah-table-wrapper {
  margin: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table-header {
    border-radius: 5px 5px 0px 0px;
    display: flex;
    padding: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    background: white;
    border-bottom: 2px solid $c-kvk-blue;
    margin-bottom: 1px;
    z-index: 1; // needed to show shadow over next table row, is there a better solution?

    .ah-table-cell {
      padding: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0px;
        font-weight: 700;
        color: #333333;
      }
    }
  }

  .ah-table-body {
    overflow: auto;
    max-height: calc(100% - 160px);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);

    .ah-table-row {
      display: flex;
      background: #FFF;
      margin-top: 2px;
      padding: 5px;

      .ah-table-cell {
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          height: 1em;
        }

        img ~ img {
          margin-left: .5em;
        }
      }
    }

    .ah-table-row:last-child {
      border-radius: 0px 0px 5px 5px;
    }
  }

  .flex-basis-5 {
    flex-basis: 5%;
  }

  .flex-basis-10 {
    flex-basis: 10%;
  }

  .flex-basis-20 {
    flex-basis: 20%;
  }

  .flex-basis-30 {
    flex-basis: 30%;
  }

}

