<div>
  <img class="iconbar" (click)="onUploadButton()" src="../../../../assets/icons/entypo-upload.svg">
</div>
<!--div><img class="iconbar" routerLink="/member/upload" src="../../../../assets/icons/entypo-upload.svg"></div-->
<div class="ah-table-wrapper">
  <div class="table-header">
    <div class="ah-table-cell flex-basis-5">
      <p>ID</p>
    </div>
    <div class="ah-table-cell flex-basis-5">
      <p>ID</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>Name</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>Geburtsdatum</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>Eintritt</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>Austritt</p>
    </div>
    <div class="ah-table-cell flex-basis-30">
      <p>Beitragsart</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>AD befreit</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>befreit ab</p>
    </div>
    <div class="ah-table-cell flex-basis-10">
      <p>befreit bis</p>
    </div>
  </div>
  <div class="ah-table-body"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [scrollWindow]="false"
       (scrolled)="onScroll()"
  >
    <div *ngFor="let member of members" class="ah-table-row">
      <div class="ah-table-cell flex-basis-5">
        <p>{{member.memberId}}</p>
      </div>
      <div class="ah-table-cell flex-basis-5">
        <p>{{member.linkedId}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{member.firstName}} {{member.lastName}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{member.dateOfBirth | date}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{member.dateOfEntry | date}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{member.dateOfResignation | date}}</p>
      </div>
      <div class="ah-table-cell flex-basis-30">
        <p>{{member.typeOfMembershipFee}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{member.exemptReason}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{member.exemptFrom | date}}</p>
      </div>
      <div class="ah-table-cell flex-basis-10">
        <p>{{member.exemptUntil | date}}</p>
      </div>
    </div>
  </div>
</div>

