<div>
  <input class="iconbar" type="date"  value="{{date}}" (change)="onChangeDate($event)">
  <img class="iconbar" (click)="onEdit()" src="../../../../assets/icons/entypo-add-user.svg">
</div>
<div class="ah-table-wrapper">
  <div class="table-header">
    <div class="ah-table-cell flex-basis-30">
      <p>Datum</p>
    </div>
    <div class="ah-table-cell flex-basis-20">
      <p>MitgliedsNr</p>
    </div>
    <div class="ah-table-cell flex-basis-30">
      <p>Nachname</p>
    </div>
    <div class="ah-table-cell flex-basis-30">
      <p>Vorname</p>
    </div>
    <div class="ah-table-cell flex-basis-5">
      <p>Stunden</p>
    </div>
    <div class="ah-table-cell flex-basis-5">
    </div>
  </div>
  <div class="ah-table-body">
    <div *ngFor="let attendee of attendees" class="ah-table-row">
      <div class="ah-table-cell flex-basis-30">
        <p>{{attendee.date | date}}</p>
      </div>
      <div class="ah-table-cell flex-basis-20">
        <p>{{attendee.member.memberId}}</p>
      </div>
      <div class="ah-table-cell flex-basis-30">
        <p>{{attendee.member.lastName}}</p>
      </div>
      <div class="ah-table-cell flex-basis-30">
        <p>{{attendee.member.firstName}}</p>
      </div>
      <div class="ah-table-cell flex-basis-5">
        <p>{{attendee.hours}}</p>
      </div>
      <div class="ah-table-cell flex-basis-5">
        <!--
        <img (click)="onEdit(attendee) "src="../../../../assets/icons/entypo-edit.svg">
        -->
        <img (click)="onDelete(attendee)" src="../../../../assets/icons/entypo-remove-user.svg">
      </div>
    </div>
  </div>
</div>

