@import "../../../../colors";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

img {
  height: 30px;
  width: auto;
  float: right;
  cursor: pointer;
}

.iconbar {
  margin: 1em 1em 0em 1em;
}

input.iconbar {
  background-color: white;
}
